.home-page {
    height: 100%;
}

.main-app-header{
    background-color: rgb(255, 255, 255);
    height: 7rem;
    border-bottom: 1px solid #f1f3f4;
    position: relative;
}

.home-page-main-logo {
    position: absolute;
    display: flex;
    width: 300px;
    margin: auto;
    cursor: pointer;
}

.sub-title {
    font-size: 2rem;
    text-align: center;
    height: 10rem;
    line-height: 150px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #555;
}

.home-main-login {
    position: absolute;
    display: flex;
    right: 30px;
    width: 50px;
    height: 50px;
    top: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.home-main-login:hover {
    box-shadow: -1px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}

.home-email-btn {
    background-image: url('apps/email/imgs/google_gmail_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
    cursor: pointer;
    height: 15rem;
    width: 15rem;
    display: inline;
    margin: auto;
    list-style: none;
}

.home-keep-btn {
    background-image: url('apps/email/imgs/google_keep_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8rem;
    cursor: pointer;
    height: 15rem;
    width: 15rem;
    display: inline;
    margin: auto;
    list-style: none;
}

.home-books-btn {
    background-image: url('apps/email/imgs/google_play_books_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8rem;
    cursor: pointer;
    height: 15rem;
    width: 15rem;
    display: inline;
    margin: auto;
    list-style: none;
}

.features-container {
    display: flex;
    border-bottom: 1px solid #f1f3f4;
    padding-bottom: 50px;
}

.about {
    background-color: rgb(255, 255, 255);
    height: 15rem;
    position: relative;
    display: flex;
}

.about-adi {
    background-image: url(apps/email/imgs/adi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10rem;
    height: 10rem;
    width: 10rem;
    display: inline;
    margin: 0 auto;
    list-style: none;
}

.about-shiran {
    background-image: url(apps/email/imgs/shiran.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10rem;
    height: 10rem;
    width: 10rem;
    display: inline;
    margin: 0 auto;
    list-style: none;
}

.about-title {
    text-align: center;
    margin: auto;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #555;
    margin-top: 50px;
    font-size: 1.5rem;
}

.main-page-footer {
    position: absolute;
    display: flex;
    height: 12rem;
    width: 100vw;
    bottom: 0;
    border-top: 1px solid #f1f3f4;
}

.main-page-footer p {
    text-align: center;
    margin: auto;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #555;
}