.email-list{
   background-color: rgb(255, 255, 255);
   /* height: 100vh; */
   width: 100vw;
   position:fixed;
}

.email li {
   position: relative;
    display: grid; 
    cursor: pointer;
    grid-auto-columns: 1fr; 
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "from from subject subject subject subject subject body body body body body body body body . delete read date date";
   color: #202124; 
   box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
   font-weight: 700;
   font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
   font-size: .875rem;
   height: 40px;
   margin-left: 72px;
  }

.round-hover-list:hover {
   background-color: #eee;
   border-radius: 50%;
   opacity: 1;
}

.delete-email-btn{
   background-image: url(../imgs/delete-email.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 20px;
   height: 20px;
   opacity: 0.54;
   width: 20px;
   align-items: center;
   border: none;
   display: inline-flex; 
   justify-content: center; 
   outline: none;
   grid-area: delete;
   position: absolute;
   right: 30px;
   padding: 10px;
   min-width: 10px;
}

.setread-email-btn{
   background-image: url(../imgs/mark_as_unread_black_20dp.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 20px;
   height: 20px;
   opacity: 0.54;
   width: 20px;
   align-items: center;
   border: none;
   display: inline-flex; 
   justify-content: center; 
   outline: none;
   grid-area: read;
   position: absolute;
   right: 30px;
   padding: 10px;
   min-width: 10px;
}

  .email a {
   text-decoration: none!important;
  }

  .date{
   grid-area: date;
   text-align: center;
  }

  .body{
   font-weight: 500;
  }

  .grey{
   background-color: rgb(242,245,245,0.8);
   font-weight: normal;
 }

  .email li:hover{
   box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }

  .from { 
    grid-area: from;
    margin-left: 1em;
    font-weight: normal;
    width: 12em;
 }

  .subject {
     grid-area: subject;
     font-weight: normal;
     min-width: 25em;
}

  .body {
     grid-area: body;
     white-space: nowrap;
     min-width: 30em;
     }

  .date { 
    grid-area: date;
    min-width: 5em;
 }

 .bold-unread{
   font-weight: 700;
 }



