.details-subject {
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 2rem;
    font-variant-ligatures: no-contextual;
    color: #202124;
    font-weight: 500;
}

.details-from {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 1.275rem;
    letter-spacing: .2px;
    color: #202124;
    line-height: 20px;
    font-weight: bold;
    margin-left: 0;
}

.read-email{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    left: 100px;
    width: 100%;
    height: 50%;
}

.read-email li{
    list-style: none;
}

.details-from-email{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #555;
    font-size: 1rem;
    letter-spacing: .3px;
    font-weight: 400;
}

.details-date{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    position: absolute;
    display: flex;
    right: 150px;
    top:80px;
}

.details-body {
    white-space: pre;
}