
.side-nav{
    background-color: #FFFFFF;
    display: block;
    position: fixed;
    width: 72px;
    height: 100vw;
    top: 120px;
}

.create-email-btn{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 48px;
    min-width: 56px;
    margin: auto;
    padding-top: 8px;
    background-image: url(../imgs/create_32dp.png);
    cursor: pointer;
}

.create-email-btn-container{
    margin: auto;
    border-radius: 28px;
    font-size: 0;
    height: 56px;
    padding: 0;
    width: 56px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    
}

.create-email-btn-container:hover{
    box-shadow: -1px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}

.round-hover:hover {
    background-color: #eee;
    border-radius: 50%;
}

.inbox-selected {
    background-color: #fce8e6;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: auto;
}

.folder-not-selected {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: auto;
}

.folder-selected {
    background-color: #e8eaed;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: auto;
}

.inbox-btn {
    background-image: url(../imgs/inbox_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    margin-top: 20px;
    padding: 6px 7px;
    display: flex;
    width: 32px;
    height: 32px;
    opacity: 0.54;
    cursor: pointer;
}

.inbox-btn-selected {
    background-image: url(../imgs/inbox_gm_googlered600_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    margin-top: 20px;
    padding: 6px 7px;
    display: flex;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
}

.sent-btn {
    background-image: url(../imgs/send_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    margin-top: 20px;
    padding: 6px 7px;
    display: flex;
    width: 32px;
    height: 32px;
    opacity: 0.54;
    cursor: pointer;
}

.trash-btn {
    background-image: url(../imgs/delete_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    margin-top: 20px;
    padding: 6px 7px;
    display: flex;
    width: 32px;
    height: 32px;
    opacity: 0.54;
    cursor: pointer;
}

.unread-emails{
    position: absolute;
    background-color: #d23f31;
    font-size: 1rem;
    color: #fff;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    right: 8px;
    opacity: 1;
    border-radius: 50%;
    padding: 1px 4px;
  }