
.side-nav{
    background-color: rgb(199, 31, 31);
    display: block;
    position: fixed;
    width: 72px;
    height: 100vw;
    top: 0;
}

.create-email-btn{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 48px;
    min-width: 56px;
    margin: auto;
    padding-top: 8px;
    background-image: url(/imgs/create_32dp.png);
}

.open-modal-btn-container{
    margin: auto;
    border-radius: 28px;
    font-size: 0;
    height: 56px;
    padding: 0;
    width: 56px;
    background-color: #fff;
}