.input-btn-container {
    /* background-color: aliceblue; */
    padding: 17px;
    align-items: center;
    margin-left: 50px;
    /* border-radius: 10px; */
    /* border: 1px solid rgb(249, 244, 244); */
    /* box-shadow: 0 0 5px 0.1px; */
}

.title-input {
    margin-left: 20px;
    border: none;
}

.input-btn-container>* {
    border: none;
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
    font-size: 1.3em;
    background-color: white;
    border-radius: 50px;
    color: rgb(118, 112, 112);
    cursor: pointer;
}


/* .input-btn {} */

.input-btn-container>*:hover {
    background-color: rgb(199, 206, 189);
}


/* input trile */

.input-form {
    position: relative;
    width: 600px;
    margin: 32px, auto 50px auto;
    background-color: fff(243, 248, 233);
    padding: 10px;
    border-radius: 7px;
    /* box-shadow: 0 1px gray */
    /* border: 1px solid rgb(249, 244, 244); */
    box-shadow: 0 0 5px 0.1px;
}

.input-form input {
    width: 300px;
    /* border: none; */
    padding: 3px;
    /* margin-bottom: 20px; */
    outline: none;
    font-size: 1rem;
    resize: none;
}

.input-form textarea {
    width: 90%;
    border: none;
    padding: 3px;
    /* margin-bottom: 20px; */
    outline: none;
    font-size: 1rem;
    resize: none;
    margin-left: 20px;
}

.title {
    font-size: large;
    border: none;
}


/* filter container */

.note-filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-text-container {
    display: flex;
    justify-self: left;
}

.search-input {
    width: 300px;
    height: 30px;
}

.select-input {
    width: 150px;
    height: 30px;
}