.note-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 0 250px;
    /* width: 90%; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-rows: auto;
    grid-auto-flow: dense; */
}

.input-image {
    /* height: 100px; */
    width: 190px;
    padding: 5px;
    border-radius: 10px;
}


/* note card */

.note-container {
    position: relative;
    /* display: flex; */
    justify-content: center;
    border-radius: 7px;
    align-self: flex-start;
    box-shadow: 0 0 2px 0px;
    /* float: left; */
    /* float: inline-start; */
    /* height: auto; */
}

.note-container:hover {
    /* border: 1px solid rgb(249, 244, 244); */
    box-shadow: 0 0 5px 0.1px;
}


/* buttons */

.color-input {
    /* opacity: 0; */
    height: 100%;
    /* left: 0; */
    width: 100%;
    opacity: 0;
    /* position: fixed; */
    z-index: 1;
    position: absolute;
    bottom: 0px;
    /* top: 0; */
    /* justify-self: center; */
}

.color-input-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.edit-btn-container {
    /* position: absolute;
    bottom: 0px; */
    margin: 0;
    padding: 3px 1px 3px 3px;
    align-items: center;
    /* margin-right: 0px; */
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0 0 7px 7px;
    /* padding-left: 30px;
    padding-right: 30px; */
}

.edit-btn-container:hover {
    background-color: rgba(83, 71, 79, 0.37);
    /* padding: 0 3px 3px 3px; */
}

.edit-btn-container>* {
    border: none;
    height: 25px;
    width: 25px;
    /* background-color: rgba(0, 0, 255, 0.968); */
    margin: 0px;
    /* cursor: pointer; */
    border-radius: 50px;
    color: rgb(88, 79, 79);
}

.edit-btn-container>* :hover {
    border: none;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 255, 0.968);
    /* margin: 0px; */
    cursor: pointer;
    /* border-radius: 50px; */
    /* color: rgb(88, 79, 79); */
}

.top-pin {
    position: absolute;
    top: -7px;
    left: 182px;
    color: rgb(255, 204, 0);
    font-size: 20px;
    /* text-shadow: -1px -1px 0 rgb(181, 171, 171), 1px -1px 0rgb(181, 171, 171) -1px 1px 0rgb(181, 171, 171), 1px 1px 0 rgb(181, 171, 171); */
}